In [1]:
set={1,2,22,44}
print(set)

{1, 2, 44, 22}

In [2]:
set={1,'hi',(23,45,55)}
print(set)

{1, (23, 45, 55), 'hi'}

In [4]:
set={1,35,55}
print(set)
set.add(23)
print(set)

{1, 35, 55}
{1, 35, 23, 55}

In [5]:
set={1,35,55}
print(set)
set.update([45,56,44,56])
print(set)

{1, 35, 55}
{1, 35, 44, 45, 55, 56}

In [6]:
set={1,35,55}
print(set)
set.remove(35)
print(set)

{1, 35, 55}
{1, 55}

In [7]:
setA={2,22,45,66,74,33,4}
setB={34,56,22,76,45}
print(setA|setB)

{33, 2, 66, 4, 34, 74, 76, 45, 22, 56}

In [8]:
setA={2,22,45,66,74,33,4}
setB={34,56,22,76,45}
print(setA&setB)

{45, 22}

In [9]:
setA={2,22,45,66,74,33,4}
setB={34,56,22,76,45}
print(setA-setB)

{33, 2, 66, 4, 74}

In [10]:
setA={2,22,45,66,74,33,4}
setB={34,56,22,76,45}
print(setA^setB)

{2, 66, 4, 74, 76, 33, 34, 56}